* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar, .form {
    font-family: 'Poor Story', cursive;
}

body {
    margin: 0px;
    padding: 0px;
}

nav a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav a, a:hover {
    text-decoration: none;
}

nav {
    background-color: darkslategrey;
    border-bottom: 10px solid #f5c6cb;
    color: white;
}

.main-section {

}

.sidebar {
    flex: 1;
    max-width: 400px;
}

.side-bar nav {
    background-color: transparent;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: darkslategrey;
}

.btn:hover {
    text-decoration: none;
    color: white;
    background-color: #4e555b;
}

.frame {
    transition: all .2s ease-in-out;
}

.frame:hover {
    transform: scale(1.1);
}

.mypics {
    width: 20%;
    height: 20%;
    padding: 15px;
}

img {
    padding: 15px;
}

.gallery {
    padding-left: 10%;
}

.user_images {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.end-section {
    height: 100%;
    overflow: auto;
}

.primary {
    display: flex;
    flex-direction: row;
}

.primary .main-section .submit-form {
    width: 100%;
    margin: 0px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .gallery img{
        width: 100%;
        height: 100%;
    }
    .primary {
        display: flex;
        flex-direction: column;
    }
}

.error {
    color: white;
}

/*Form*/
form {
    padding-top: 2em;
}

.form-errors{
    border-radius: 8px;
    margin: 10px 25px 45px 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.form-errors ul.has-errors{
    padding:10px 15px;
    border:1px solid #a94442;
    border-radius:8px;
}

.form-errors li {
    list-style: none;
    font-size: 16px;
}


/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Sticker*/

.sticker {

    max-width: 100px;
    max-height: 100px;
}


/*gallery*/

.top-container {
    width: 500px;
    margin: 30px auto;
}

.bottom-container {
    max-width: 960px;
    margin: auto;
    padding: 10px;
}

#photos img {
    width: 100%;
    border: 3px #fff solid;
}

#canvas {
    display: none;
}


footer {
    text-align: center;
    background-color: darkslategrey;
    color: white;
    width: 100%;
    padding: 14px 0;
    border-top: 4px solid #f5c6cb;
    bottom: 0;
    position: fixed;
}

footer a {
    color: #f5c6cb;
}

footer a:hover {
    color: white;
}